:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(4, 3, 65);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 250px;
  min-height: 100vh;
}

.mainbar {
  position: relative;
  border-style: solid;
  height: 100px;
  width: 390px;
  margin-left: -15px;
  margin-top: -420px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  background-color: rgb(10, 9, 117);
}

.search {
  margin-top: 20px;
  margin-left: -65px;
  width: 73vw;
  height: 30px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.dropdown p {
  margin: 0;
  text-align: center;
}


.options {
  width: 390px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
h1 {
  font-size: 15px;
}

h1>a {
  color: rgb(207, 6, 191);
}
.options > h1 > a:hover{
  color: orange;
}

.user {
  width: 55px;
  height: 55px;
  margin-top: 7px;
  margin-left: 310px;
  position: absolute;
  border-radius: 30px;
}

.content {
  position: absolute;
  margin-top: 10px;
  min-height: 50px;
  width: 395px;
  margin-left: -15px;
  background-color: rgb(10, 9, 117);
  display: flex;
  flex-direction: column; /* Cambiado de 'row' a 'column' */
  justify-content: space-around;
}

.product-pair {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.product {
  box-shadow: 2px 2px 10px black;
  width: 150px;
  display: flex;
  flex-direction: column;
  background-color: #123dca;
  margin-top: 10px;
  transition: opacity 0.3s ease-in-out;
}

.product > img {
  width: 150px;
  height: 150px;
  margin: auto;
}

.product > p{
  margin: auto;
}
.product:hover{
  opacity: 0.5;
}