.menu-container {
    position: absolute;
    display: inline-block;
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    left: 0; /* Cambiado de 'right' a 'left' */
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    z-index: 1000;
    display: none;
    transform: translateX(-100%); /* Añadido para iniciar el menú fuera de la vista */
}

.menu-container.open .menu-dropdown {
    display: block;
    animation: slideIn 0.3s forwards ease-in; /* Añadido 'ease-in' para el efecto de entrada */
}

@keyframes slideIn {
    from {
        transform: translateX(100%); /* Cambiado de '100%' a '-100%' */
    }
    to {
        transform: translateX(0);
    }
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-dropdown ul li {
    padding: 8px 0;
}

.menu-dropdown ul li a {
    text-decoration: none;
    color: #333333;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333333;
}

.menu-container.open {
    animation: slideInContainer 0.3s forwards;
}

@keyframes slideInContainer {
    from {
        width: 100px; /* Ancho inicial del botón */
    }
    to {
        width: 200px; /* Ancho deseado del menú */
    }
}
