.register{
    margin-top: 20px;
    height: 30px;
}
.content-register {
    min-height: auto;
    width: 380px;
    background-color: rgb(10, 9, 117);
    display: flex;
    padding: 5px;
    margin-left: -15px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-around;
    border-style: solid;
}
.content-register form{
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}
.content-register form label{
    margin-top: 20px;
}
.content-register form label input{
    display: flex;
    width: 250px;
}