/* Contenedor del footer */
/* footer {
    display: flex;
    background-color: #123dca;
    width: 395px;
    margin-top: 20px;
    margin-left: -15px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-section {
    width: 30%;
    color: white;
} */